@use "./variables";

.card-gryffindor { 
   background-color: variables.$color-gryffindor ;  
   color: white;
}
    
.card-slytherin {  
  background-color: variables.$color-slytherin ; 
  color: white;
 }
   
 .card-hufflepuff {  
  background-color: variables.$color-hufflepuff ;  
  color: black;
}

.card-ravenclaw {  
  background-color: variables.$color-ravenclaw ;  
  color: black;
}


.card-body {
    flex: 1 1 auto; 

}
.row {
    margin-bottom: 1rem; 
}

