@use "./variables";

.card-gryffindor { 
   background-color: variables.$color-gryffindor ;  
   color: white;
}
    
.card-slytherin {  
  background-color: variables.$color-slytherin ; 
  color: white;
 }
   
 .card-hufflepuff {  
  background-color: variables.$color-hufflepuff ;  
  color: black;
}

.card-ravenclaw {  
  background-color: variables.$color-ravenclaw ;  
  color: black;
}


.card-body {
    flex: 1 1 auto; 

}
.row {
    margin-bottom: 1rem; 
}

    .gryffindor-page {
       .card {
           
           background-color: #A500; 
           border: 2px solid #900; 
       }

       .card img {
           height: 100%; 
           object-fit: cover; 
       }

       .card-body {
           padding: 10px; 
           color: #fff; 
       }
   }

   